[
    {
        "guid": "368484af-ca37-4047-a4a0-d4f95ff81eb0",
        "title": "erste Notiz",
        "text": "denke daran Komponenten zu importieren und exportieren",
        "priority": 0
    },
    {
         "guid": "a26047a9-f219-4957-ba7f-52fd7bb8a828",
         "title": "Angular Documentation",
         "text": "check out https://angular.io",
         "priority": 0,
     }
 ]